* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    overflow-x: hidden;
    word-wrap: break-word;
    font-family: 'Cousine', monospace;
    font-size: 1rem;
    line-height: 1.5;
    background-color: rgb(28, 28, 28);
    color: rgb(235, 235, 235);
    width: 60%;
    margin: auto;
}

@media (max-width: 768px) {
    body {
        width: 100%;
    }
}

a {
    color: rgb(52, 152, 219);
}

p {
    margin-bottom: 1rem;
}

p.marginless {
    margin-bottom: 0rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

header,
footer {
    text-align: center;
}

main {
    background-color: rgb(40, 40, 40);
    font-size: 1.2rem;
}

article {
    padding: 1rem 0 1rem 0;
}

.article-header {
    background-color: rgb(180, 180, 180);
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

.slider {
    display: flex;
    justify-content: center;
}

.slide-img {
    max-width: 15rem;
}

.img-container {
    max-width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    border: 0.3rem solid rgb(204, 204, 204);
}

.marpad {
    margin: 1rem;
    padding: 1rem;
}