/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

body {
    font-family: 'Times New Roman', serif;
    font-size: 1.3rem;
    line-height: 1.4;
    background-color: rgb(28, 28, 28);
    color: rgb(235, 235, 235);
    width: 60%;
    margin: auto;
}

@media (max-width: 768px) {
    body {
        width: 100%;
    }
}

a {
    color: rgb(52, 152, 219);
}

h2, h3, h4 {
    color: rgb(0, 175, 73);
}

p {
    margin-bottom: 1rem;
}

/* Image Styles */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.about-img {
    padding: 1rem;
    width: 18rem;
}

/* Header and Footer */
header, footer {
    text-align: center;
}

/* Main Content */
main {
    background-color: rgb(40, 40, 40);
    border: 0.1rem solid rgb(0, 0, 0);
    padding: 1rem;
}

.marpad {
    margin: 1rem;
    padding: 1rem;
}

/* Slider */
.slider {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.slide-img {
    max-width: 15rem;
}

.hidden {
    display: none;
}